@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --cor0: rgb(33, 46, 25);
  --cor1: rgb(247, 231, 211);
  --cor2: rgb(102, 133, 72);
}

body {
  background: var(--cor0);
  color: var(--cor1);
  font-family: 'Roboto Slab', serif;
  font-size: 23px;

}

h1 {
  margin: 20px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 25px;
  padding: 20px 0px;
  font-weight: 100;
}

section {
  background: var(--cor2);
  padding: 40px 50px;
  margin: auto;
  width: 50%;
  height: 100%;
  max-width: 100%;
  max-height: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
  border-radius: 20px;
}

input {
  background: none;
  border: none;
  color: var(--cor1);
  border-bottom: 1.5px solid var(--cor1);
  margin-left: 5px;
}

button {
  background: var(--cor0);
  color: var(--cor1);
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.1);
}

#aviso {
  color: var(--cor1);
  text-align: center;
}

img {
  width: 70%;
  height: 50%;
  max-width: 70%;
  max-height: 50%;
  display: flex;
  margin: auto;
  padding: 40px 0px;
}

aside {
  text-align: center;
  font-size: 0.9em;
  padding: 20px 0px;
}

a {
  text-decoration: none;
  color: var(--cor2);
}

a:hover {
  text-decoration: underline;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  }